<launch>
    <arg name="rviz" default="true"/>

    <node pkg="tf2_ros" exec="static_transform_publisher" name="world_map" args="--frame-id world --child-frame-id map"/>

    <node pkg="terrain_planner" exec="test_ompl_dubins" name="test_ompl_dubins" output="screen">
    </node>

    <group if="$(var rviz)">
        <node pkg="rviz2" exec="rviz2" name="rviz2" args="-d $(find-pkg-share terrain_planner)/launch/config_ompl.rviz" />
    </group>
</launch>
