<launch>
    <arg name="visualization" default="true"/>
    <node pkg="tf" type="static_transform_publisher" name="world_map" args="0 0 0 0 0 0 world map 10"/>
    <node pkg="airsim_client" type="test_planner_airsim_node" name="test_planner" output="screen" required="true">
        <param name="file_path" value="/home/jaeyoung/dev/mesh/groundtruth_roi_meshlab.obj"/>
        <param name="output_file_path" value="$(find adaptive_viewutility)/../output/benchmark.csv"/>
        <param name="num_experiments" value="1"/>
        <param name="snapshot_interval" value="20"/>
        <param name="viewpoint_noise" value="true"/>
        <param name="max_experiment_duration" value="200"/>
        <param name="image_directory" value="$(find adaptive_viewutility)/../output"/>
    </node>
    <!-- <node pkg="rosbag" type="record" name="rosbag_record"
       args="record -o $(find adaptive_viewutility)/../output/rosbag /grid_map"/> -->
    <group if="$(arg visualization)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find adaptive_viewutility)/launch/config_planner.rviz" />
    </group>
</launch>
