[Unit]
Description=Launch mavlink router as a service
After=network.target systemd-udevd.service

[Service]
ExecStart=/usr/bin/mavlink-routerd -c /home/ethzasl/catkin_ws/src/terrain-navigation/systemd/mavlinkrouter.config
ProtectSystem=full

[Install]
WantedBy=multi-user.target
