<launch>
<!-- Compare mesh between two meshes -->
    <arg name="visualization" default="true"/>
    <arg name="path" default="/home/jaeyoung/dev/data/cramer_rao_05min"/>

    <node pkg="tf" type="static_transform_publisher" name="world_map" args="0 0 0 0 0 0 world map 10"/>
    <node pkg="adaptive_viewutility" type="compare_mesh_node" name="test_mesh" output="screen" required="true">
        <param name="groundtruth_mesh_path" value="/home/jaeyoung/dev/mesh/q_max_06/groundtruth_roi_meshlab.obj"/>
        <param name="estimated_mesh_path" value="$(arg path)/mesh.obj"/>
        <param name="offset_file_path" value="$(arg path)/offset.xyz"/>
        <param name="utility_map_path" value="$(arg path)/gridmap_0.bag"/>
        <param name="visualize" value="$(arg visualization)"/>
        <param name="map_data_path" value="$(arg path)/map_data.csv"/>
    </node>

    <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
        <rosparam command="load" file="$(find adaptive_viewutility)/launch/visualize.yaml" />
    </node>

    <group if="$(arg visualization)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(find adaptive_viewutility)/launch/config_compare.rviz" />
    </group>
</launch>
